.App {
  text-align: center;
}

.topRow {
  display: flex;
  justify-content: center;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}

.topRow > div {
  margin: 1%;
  width: calc(80% * 1/7);
  height: 0;
  padding-top: calc(80% * 1/7);
  background-color: white;
  border-radius: 50%;
}

.board {
  background-color: blue;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.board > div {
  margin: 1%;
  width: calc(80% * 1/7);
  height: 0;
  padding-top: calc(80% * 1/7);
  background-color: white;
  border-radius: 50%;
}

.redButton {
  background-color: red;
}

.blackButton {
  background-color: black;
  float: right;
}

.okButton {
  margin: auto;
  width: 50%;
  padding: 15px;
  border: solid 1px black;
  display: block;
}

.gameButton {
  color: white;
  padding: 15px;
  border: none;
  margin-left: 20px;
  margin-right: 20px;
}